{% extends "base.html" %}
{% block title %}Student Dashboard{% endblock %}

{% block content %}

<h2 class="k-title fade">Student Dashboard</h2>

<div class="grid-3 fade">

    <a class="k-card" href="/student/register">
        <h3>Register for Classes</h3>
        <p>Add courses you want to take.</p>
    </a>

    <a class="k-card" href="/student/drop">
        <h3>Drop Classes</h3>
        <p>Remove a class you are enrolled in.</p>
    </a>

    <a class="k-card" href="/student/grades">
        <h3>Final Grades</h3>
        <p>View your course grades.</p>
    </a>

    <a class="k-card" href="/student/courses">
        <h3>Courses by Semester</h3>
        <p>Check availability and status.</p>
    </a>

    <a class="k-card" href="/student/sections">
        <h3>Section Information</h3>
        <p>Room, instructor, schedule.</p>
    </a>

    <a class="k-card" href="/student/advisor">
        <h3>Advisor Info</h3>
        <p>Check who your advisor is.</p>
    </a>

    <a class="k-card" href="/student/profile">
        <h3>Edit Profile</h3>
        <p>Update your information.</p>
    </a>

</div>

{% endblock %}