{% extends "base.html" %}
{% block title %}Students{% endblock %}

{% block content %}

<h2 class="k-title fade">Manage Students</h2>

<a href="/admin/students/add" class="btn-primary" style="margin-bottom: 15px; display:inline-block;">
    + Add Student
</a>

<table class="k-table fade">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for s in students %}
        <tr>
            <td>{{ s.student_ID }}</td>
            <td>
                {{ s.first_name }}
                {% if s.middle_name %} {{ s.middle_name }} {% endif %}
                {{ s.last_name }}
            </td>
            <td>{{ s.email }}</td>
            <td>{{ s.dept_name }}</td>

            <td class="col-center">
                <a href="/admin/students/edit/{{ s.student_ID }}" class="btn-edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>

            <td class="col-center">
                <a href="/admin/students/delete/{{ s.student_ID }}" onclick="return confirm('Delete this student?');"
                    class="btn-delete">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}