{% extends "base.html" %}
{% block title %}Assign Instructor{% endblock %}

{% block content %}

<h2 class="k-title fade">Assign Instructor to Section</h2>

<div class="form-wrapper fade">

    <div class="form-card">

        <!-- Course -->
        <div class="form-group">
            <label>Course</label>
            <input type="text" value="{{ section.course_ID }}" disabled>
        </div>

        <!-- Section No -->
        <div class="form-group">
            <label>Section No</label>
            <input type="text" value="{{ section.section_no }}" disabled>
        </div>

        <!-- Semester -->
        <div class="form-group">
            <label>Semester</label>
            <input type="text" value="{{ section.semester }}" disabled>
        </div>


        <!-- ========== CASE 1: Instructor already assigned ========== -->
        {% if section.instructor_ID %}

        <div class="form-group">
            <label>Assigned Instructor</label>
            <input type="text" value="{{ section.instructor_first }} {{ section.instructor_last }}" disabled>
        </div>

        <a href="/admin/sections/remove-teacher/{{ section.section_ID }}"
            onclick="return confirm('Remove instructor from this section?');" class="btn-primary" style="
                background:#cc0000;
                margin-top:10px;
                text-align:center;
           ">
            Remove Instructor
        </a>


        <!-- ========== CASE 2: No instructor assigned ========== -->
        {% else %}

        <form method="POST">

            <div class="form-group">
                <label>Select Instructor</label>
                <select name="instructor_ID" required>
                    {% for i in instructors %}
                    <option value="{{ i.instructor_ID }}">
                        {{ i.first_name }} {{ i.last_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <button class="btn-primary" style="margin-top: 10px;">
                Assign Instructor
            </button>

        </form>

        {% endif %}

    </div>
</div>

{% endblock %}