{% extends "base.html" %}
{% block title %}Edit Section{% endblock %}

{% block content %}

<h2 class="k-title fade">Edit Section</h2>

<div class="form-wrapper fade">
    <form method="POST" class="form-card">

        <!-- COURSE -->
        <div class="form-group">
            <label>Course</label>
            <select name="course_ID" required>
                {% for c in courses %}
                <option value="{{ c.course_ID }}" {% if c.course_ID==section.course_ID %}selected{% endif %}>
                    {{ c.course_no }} — {{ c.title }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- SECTION NO -->
        <div class="form-group">
            <label>Section No</label>
            <input type="text" name="section_no" value="{{ section.section_no }}" required>
        </div>

        <!-- SEMESTER -->
        <div class="form-group">
            <label>Semester</label>
            <input type="text" name="semester" value="{{ section.semester }}" required>
        </div>

        <!-- INSTRUCTOR -->
        <div class="form-group">
            <label>Instructor</label>
            <select name="instructor_ID" required>
                {% for i in instructors %}
                <option value="{{ i.instructor_ID }}" {% if i.instructor_ID==section.instructor_ID %}selected{% endif
                    %}>
                    {{ i.first_name }} {{ i.last_name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- BUILDING -->
        <div class="form-group">
            <label>Building</label>
            <input type="text" name="building" value="{{ section.building }}" required>
        </div>

        <!-- ROOM NUMBER -->
        <div class="form-group">
            <label>Room Number</label>
            <input type="text" name="room_number" value="{{ section.room_number }}" required>
        </div>

        <!-- TIMESLOT -->
        <div class="form-group">
            <label>Timeslot</label>
            <select name="timeslot_ID" required>
                {% for t in timeslots %}
                <option value="{{ t.timeslot_ID }}" {% if t.timeslot_ID==section.timeslot_ID %}selected{% endif %}>
                    {{ t.weekday }} ({{ t.start_time }} - {{ t.end_time }})
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- SUBMIT BUTTON -->
        <button class="btn-primary">Save Changes</button>

    </form>
</div>

{% endblock %}