{% extends "base.html" %}
{% block title %}Add Course{% endblock %}

{% block content %}

<h2 class="k-title fade">Add New Course</h2>

<form method="POST" class="fade">

    <div class="form-group">
        <label>Department</label>
        <select name="dept_ID" required>
            <option value="" disabled selected>Select Department</option>

            {% for d in departments %}
            <option value="{{ d.dept_ID }}">{{ d.name }}</option>
            {% endfor %}
        </select>
    </div>


    <label>Course No</label>
    <input type="text" name="course_no" required>

    <label>Title</label>
    <input type="text" name="title" required>

    <label>Credits</label>
    <input type="number" name="credits" required>

    <button type="submit" class="btn-modern">Add Course</button>
</form>

{% endblock %}