{% extends "base.html" %}
{% block title %}Add Instructor{% endblock %}

{% block content %}

<h2 class="k-title fade">Add Instructor</h2>

<form method="POST" class="form-card fade">

    <label>First Name</label>
    <input type="text" name="first_name" required>

    <label>Middle Name (optional)</label>
    <input type="text" name="middle_name">

    <label>Last Name</label>
    <input type="text" name="last_name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Department</label>
    <select name="dept_ID" required>
        <option disabled selected>Select Department</option>
        {% for d in departments %}
        <option value="{{ d.dept_ID }}">{{ d.name }}</option>
        {% endfor %}
    </select>

    <button class="btn-primary">Add Instructor</button>
</form>

{% endblock %}