{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

<h2 class="k-title fade">Edit Your Profile</h2>

<div class="form-card fade">

    <form method="POST">

        <label>First Name</label>
        <input type="text" name="first_name" value="{{ instructor.first_name }}" required>

        <label>Middle Name</label>
        <input type="text" name="middle_name" value="{{ instructor.middle_name }}">

        <label>Last Name</label>
        <input type="text" name="last_name" value="{{ instructor.last_name }}" required>

        <label>Email</label>
        <input type="email" name="email" value="{{ instructor.email }}" required>

        <button class="btn-primary" style="margin-top:15px;">Save Changes</button>

    </form>
</div>

{% endblock %}