<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kakshya · {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Static CSS -->

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-ZuC2HaxDTXiiMHDL/95B2S/bR5CV2wE8pQnXl16rYPD6/COM24kTx5cDIeEJD7BqXc9E+u6KDAdAm8YGqdpQWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font- awesome/6.5.0/css/all.min.css">

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font- awesome/6.5.0/css/all.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstra p.bundle.min.js"></script>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=sw ap" rel="stylesheet">
</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="nav-inner">

            <div class="brand">kakshya</div>

            <nav class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>

                {% if session.get('role') %}
                <a href="{{ url_for('home') }}">Dashboard</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}

                {% endif %}
            </nav>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="page">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-inner">
            <span class="footer-brand">kakshya</span>
            <span class="footer-text">CS 33007 · Database Systems · Fall 2025</span>
        </div>
    </footer>

</body>

</html>