<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kakshya · {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Static CSS -->

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="nav-inner">

            <div class="brand">kakshya</div>

            <nav class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>

                {% if session.get('role') %}
                <a href="{{ url_for('home') }}">Dashboard</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}

                {% endif %}
            </nav>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="page">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-inner">
            <span class="footer-brand">kakshya</span>
            <span class="footer-text">CS 33007 · Database Systems · Fall 2025</span>
        </div>
    </footer>

</body>

</html>