{% extends "base.html" %}
{% block title %}Add Classroom{% endblock %}

{% block content %}

<h2 class="k-title fade">Add Classroom</h2>

<form method="POST" class="form-card fade">

    <label>Building</label>
    <input type="text" name="building" required>

    <label>Room Number</label>
    <input type="text" name="room_number" required>

    <label>Capacity</label>
    <input type="number" name="capacity" required>

    <button class="btn-primary">Add Classroom</button>
</form>

{% endblock %}