{% extends "base.html" %}
{% block title %}Edit Classroom{% endblock %}

{% block content %}

<h2 class="k-title fade">Edit Classroom</h2>

<div class="form-wrapper fade">
    <form method="POST" class="form-card">

        <!-- BUILDING -->
        <div class="form-group">
            <label>Building</label>
            <input type="text" name="building" value="{{ classroom.building }}" required>
        </div>

        <!-- ROOM NUMBER -->
        <div class="form-group">
            <label>Room Number</label>
            <input type="text" name="room_number" value="{{ classroom.room_number }}" required>
        </div>

        <!-- CAPACITY -->
        <div class="form-group">
            <label>Capacity</label>
            <input type="number" name="capacity" value="{{ classroom.capacity }}" required>
        </div>

        <button class="btn-primary">Save Changes</button>

    </form>
</div>

{% endblock %}